* {
  font-family: sans-serif;
}
input,
button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  min-width: 50px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 0 6px gray;
}
button:active {
  box-shadow: none;
  background-color: antiquewhite;
}
input {
  display: block;
  margin-bottom: 20px;
}
input:focus {
  border-color: tomato;
  outline: none;
  box-shadow: 0 0 6px tomato;
}
button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}
button:nth-last-child(2),
button:nth-last-child(1) {
  background: tomato;
  color: white;
}

h2 {
  border: 1px solid gray;
  max-width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 10px;
}
